.c-author{
  display: flex;
  align-items: center;
  padding:30px 15px;
  border:3px solid $purple;
  border-radius:9px;

  @include min-screen($bp_sp_h) {
    max-width: 480px;
    margin: auto;
  }

  @include min-screen($bp_tb_v) {
    max-width: 690px;
    padding:30px 60px;
  }

  &__avatar{
    flex-shrink: 0;
    img{
      width: 90px;
      height:90px;
      border-radius:50%;
      object-fit: cover;
      font-family: 'object-fit: cover;';
      border:1px solid $gray;
      will-change: box-shadow;
      backface-visibility: hidden;
    }

    a{
      &:hover{
        img{
          border-color:$link-color;
          box-shadow:0 0 0 3px $link-color, $boxshadow6;
        }
      }
    }
  }

  &__author{

  }

  &__detail{
    padding-left:15px;
    @include min-screen($bp_tb_v) {
      padding-left:30px;
    }
  }

  &__name{
    display: inline;
    @include fz(24);
    @include min-screen($bp_tb_v) {
      @include fz(21);
    }

    &:hover{
      @include min-screen($bp_tb_v) {
        color:$blue3;
      }
    }
  }

  &__job{
    @include fz(10);
    font-weight: 600;
    @include min-screen($bp_tb_v) {
      @include fz(12);
    }
  }

  &__text{
    margin-top:15px;
    @include fz(12);
    font-weight: 600;
    line-height: 1.6;
    @include min-screen($bp_tb_v) {
    }
  }
}