.c-caption{
  text-align: center;
  @include fz(36);
  margin-bottom: 30px;

  &::after{
    content:"";
    display: block;
    vertical-align: middle;
    width: 60px;
    height: 6px;
    margin: 15px auto 0;
    background: $gradient7;
    border-radius:6px;
  }

  &--ja{
    @include fz(24);
    font-weight: 600;
    line-height: 1.9;
    @include min-screen($bp_tb_v) {
      @include fz(27);
    }

    &::after{
      margin-top: 18px;
    }
  }
}