.c-card{
  position: relative;
  background: #fff;

  &__image{
    overflow: hidden;
    position: relative;
    border-radius:9px;
    backface-visibility: hidden;

    &::before{
      opacity: 0;
      visibility: hidden;
      content:"VIEW MORE";
      position: absolute;
      top:0;
      left:0;
      z-index: 20;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-family: $futura-pt-condensed;
      @include fz(36);
      font-weight: 600;
      letter-spacing: .3em;
      color:#fff;
      background: $gradient8;
      will-change:transform;
      transition:.3s $ease-out-sine;
      transform: scale(1.2);
    }

    img{
      width: 100%;
      height:sizeCalc(191, 339, 'vw');
      object-fit: cover;
      font-family: 'object-fit: cover;';
      transition-duration: .3s;

      @include min-screen($bp_sp_h) {
        height:sizeCalc(202.5, $w_sp, 'vw');
      }

      @include min-screen($bp_tb_v) {
        height:sizeCalc(270, $w, 'vw');
      }

      @include min-screen($bp_base) {
        height:270px;
      }
    }

    &:hover{
      box-shadow: $boxshadow6;

      img{
        transform: scale(1.1);
      }

      &::before{
        opacity: 1;
        visibility: visible;
        transform: none;
        @include fz(30);
        letter-spacing: .09em;
      }
    }
  }

  &__content{
    padding:15px 0;
    @include min-screen($bp_tb_v) {
      padding:15px;
    }
  }

  &__caption{
    @include fz(21);
    font-weight: 600;
    line-height: 1.5;

    a{
      color:#000;

      &:hover{
        color:$link-color;
      }
    }
  }

  &__tags{
    display: flex;
    margin-top: 15px;

    a{
      padding:6px 12px;
      margin-right: 9px;
      font-weight: 600;
      border:1px solid currentColor;
      border-radius:30px;
      will-change: box-shadow;
      backface-visibility: hidden;

      &:hover{
        color:#fff;
        border-color:$link-color;
        background: $link-color;
        box-shadow: $boxshadow6;
      }
    }
  }

  &__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 9px;
    @include min-screen($bp_tb_v) {
      margin-top: 15px;
    }
  }

  &__date{
    @include fz(15);
  }

  &__author{
    display: flex;
    align-items: center;
    flex-direction:row-reverse;
    color:#000;

    img{
      width: 36px;
      height:36px;
      border-radius:50%;
      object-fit: cover;
      font-family: 'object-fit: cover;';
      border:1px solid $gray;
      will-change: box-shadow;
      backface-visibility: hidden;
    }

    &__name{
      text-align: right;
      max-width:90px;
      margin-right: .5em;
      font-weight: 600;
      line-height: 1.2;
    }

    &:hover{
      @include min-screen($bp_tb_v) {
        color:$link-color;
      }
      img{
        @include min-screen($bp_tb_v) {
          border-color:$link-color;
          box-shadow:0 0 0 3px $link-color, $boxshadow6;
        }
      }
    }
  }
}