@use "../../global" as *;

.c-list{
  padding:30px 0;
  @include min-screen($bp_tb_v) {
    padding:60px 30px;
  }
  @include min-screen($bp_base) {
  }

  &__nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__inner{
    @include min-screen($bp_sp_h) {

    }
    @include min-screen($bp_tb_v) {
    }

    @include min-screen($bp_base) {
      max-width: 1440px;
      margin-right:auto;
      margin-left: auto;
    }

    &:not(.empty){
      @include min-screen($bp_sp_h) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      &::before,
      &::after{
        @include min-screen($bp_tb_v) {
          order:10;
          content:"";
          display: block;
          width: calc(33% - 6px);
        }
      }
    }
  }

  &__item{
    margin-bottom: 30px;
    @include min-screen($bp_sp_h) {
      width: calc(50% - 6px);
      margin-bottom: 60px;
    }
    @include min-screen($bp_tb_v) {
      width: calc(33% - 6px);
    }
  }

  &__empty{
    padding:90px 0;
    text-align: center;
    @include fz(18);
    font-weight: 500;
    color:$dgray;
  }

}
