.c-list{
  padding:30px 0;
  @include min-screen($bp_tb_v) {
    padding:60px 30px;
  }
  @include min-screen($bp_base) {
  }

  &__nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__inner{
    @include min-screen($bp_tb_v) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    @include min-screen($bp_base) {
    }

    &::before,
    &::after{
      @include min-screen($bp_tb_v) {
        order:10;
        content:"";
        display: block;
        width: calc(33% - 6px);
      }
    }
  }

  &__item{
    margin-bottom: 30px;
    @include min-screen($bp_tb_v) {
      width: calc(33% - 6px);
      margin-bottom: 60px;
    }

  }

  &__btn{
    // margin-top: 30px;
    // @include min-screen($bp_tb_v) {
      //   margin-top: 60px;
      // }
    }
  }