.c-list{
  padding:60px 30px;

  &__nav{
    margin-bottom: 30px;
  }

  &__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &::before,
    &::after{
      order:10;
      content:"";
      display: block;
      width: calc(33% - 6px);
    }
  }

  &__item{
    width: calc(33% - 6px);
  }

  &__btn{
    margin-top: 60px;
  }
}