@use "../../global" as *;

.c-nav{
  @include min-screen($bp_tb_v) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a{
    padding:8px 14px;
    @include fz(12);
    font-weight: 600;
    color:$link-color;
    background: transparent;
    border:2px solid $link-color;
    border-radius: 60px;
    backdrop-filter: blur(3px);

    & + a{
      margin-left:15px;
    }

    &.nuxt-link-exact-active{
      color:#fff;
      background: $purple;
    }

    &:hover{
      @include min-screen($bp_tb_v) {
        color:#fff;
        background: $purple;
        box-shadow:$boxshadow6;
      }
    }
  }

  .nuxt-link-exact-active{
    pointer-events: none
  }
}
