@use "../../global" as *;

.c-title{
  position: relative;
  z-index: 1;
  padding:120px 0 30px;
  @include min-screen($bp_tb_v) {
    padding:150px 0 60px;
  }
  @include min-screen($bp_base) {
  }

  &__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__main{
    @include fz(45);
    background: #000;
    background: $gradient7;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    @include min-screen($bp_tb_v) {
      @include fz(90);
    }
    @include min-screen($bp_base) {
    }
  }

  &__sub{
    max-width:300px;
    margin:15px auto 0;
    text-align: center;
    @include fz(15);
    font-weight: 600;
    line-height: 1.6;
    @include min-screen($bp_tb_v) {
      @include fz(18);
    }
    @include min-screen($bp_base) {
    }
  }

  &__bg{
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    width: 100%;
    height:100%;
  }
}
