@use "../../global" as *;

.p-about{
  a{
    display: inline;
  }
  &__block{
    max-width:690px;
    margin:auto;
    padding:60px 0;
  }
  &__summary{
    margin-top: 30px;
  }
  &__table{
    overflow: hidden;
    width: 100%;
    max-width:600px;
    margin:30px auto 0;

    th,
    td{
      text-align:left;
      padding:15px;
      @include fz(12);
      line-height: 1.9;
      border: 6px solid $lgray;
      @include min-screen($bp_tb_v) {
        @include fz(18);
      }
    }

    th{

    }

    td{

    }
  }
}
