.p-post{
  padding-top: 90px;
  @include min-screen($bp_tb_v) {
    padding:150px 0;
  }

  &__inner{
    max-width:800px;
    margin:auto;
  }

  &__title{
    @include fz(27);
    font-weight: 900;
    line-height: 1.6;
    @include min-screen($bp_tb_v) {
      @include fz(42);
    }
  }

  &__row{
    display: flex;
    align-items: center;
    margin-top: 30px;
  }

  &__date{
    @include fz(15);
    padding-right: 15px;
    border-right:1px solid $gray;
  }

  &__category{
    position: relative;
    z-index: 1;
    margin-left:15px;
    @include fz(15);
    font-weight: 600;

    &::before{
      content:"";
      position: absolute;
      bottom:0;
      left:0;
      z-index: -1;
      width: 100%;
      height: 1px;
      background: $link-color;
      transform-origin: left center;
      transform: scaleX(0);
      transition:$transition;
    }

    &:hover{
      &::before{
        transform:none;
      }
    }
  }

  &__author{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-left:auto;
    color:#000;

    &__name{
      text-align: right;
      max-width:90px;
      margin-right: .5em;
      font-weight: 600;
      line-height: 1.2;
    }

    img{
      width: 36px;
      height:36px;
      border-radius:50%;
      object-fit: cover;
      font-family: 'object-fit: cover;';
      border:1px solid $gray;
      will-change: box-shadow;
      backface-visibility: hidden;
    }

    &:hover{
      color:$link-color;
      img{
        border-color:$link-color;
        box-shadow:0 0 0 3px $link-color, $boxshadow6;
      }
    }
  }

  &__visual{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

    img{
      border-radius:9px;
    }
  }

  &__contents{
    margin-top: 30px;
    line-height: 1.9;

    h2,
    h3,
    h4,
    h5,
    h6
    {
      margin-top: 30px;
      margin-bottom: 30px;
      font-weight: 900;
      line-height: 1.6;
      background: $gradient7;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;

      /* IE10,11用 */
      @media all and (-ms-high-contrast: none) {
        h2,
        h3,
        h4,
        h5,
        h6
        {
          background: none;
          color: $purple;
        }
      }

      .ez-toc-section{
        display: block;
        padding-top: 60px;
      }
    }

    h2{
      @include fz(24);
      @include min-screen($bp_tb_v) {
        @include fz(30);
      }
      &::after{
        content:"";
        display: block;
        width: 100%;
        height: 3px;
        margin-top: 1em;
        background: $gradient7;
        border-radius: 6px;
      }
    }

    h3{
      @include fz(21);
      @include min-screen($bp_tb_v) {
        @include fz(27);
      }
      &::after{
        content:"";
        display: block;
        width: 100%;
        height: 1px;
        margin-top: 1em;
        background: $gradient7;
        border-radius: 6px;
      }
    }

    h4{
      @include fz(18);
      @include min-screen($bp_tb_v) {
        @include fz(24);
      }
      padding-bottom: 1em;
      border-bottom:1px solid $gray;
    }

    h5{
      @include fz(15);
      @include min-screen($bp_tb_v) {
        @include fz(21);
      }
      padding-bottom: 1em;
      border-bottom:1px solid $gray;
    }

    h6{
      @include fz(12);
      @include min-screen($bp_tb_v) {
        @include fz(18);
      }
      padding-bottom: 1em;
      border-bottom:1px solid $gray;
    }

    p,
    ul,
    ol{
      margin-top: 30px;
      margin-bottom: 30px;
      @include fz(15);
      line-height: 1.9;
      @include min-screen($bp_tb_v) {
        @include fz(18);
      }
    }

    ol{
      padding-left: 2em;
      li{
        list-style-type: decimal;
      }
    }

    ul{
      padding-left: 2em;
      li{
        list-style-type: disc;
      }
    }

    a{
      display:inline;
      border-bottom:1px solid currentColor;

      &[target="_blank"]{
        &::after{
          content: "";
          display: inline-block;
          vertical-align: middle;
          width: 12px;
          height: 12px;
          margin-left: 3px;
          background: url('~assets/svg/outlink.svg?inline') no-repeat center center;
          background-size: contain;
        }
      }

      &:hover{
        border-color:transparent;
      }
    }

    .ads{
      text-align: center;
      margin:2em 0;
      a{
        display: block;
        border-bottom:none;
        &[target="_blank"]{
          &::after{
            content:none;
          }
        }
      }
    }

    .wp-block-code{
      position: relative;
      color: #b9b5b8;
      background: #322931;

      &[data-code]{
        &::before{
          position: absolute;
          top:0;
          left:0;
          z-index: 10;
          content:attr(data-code);
          width: 60px;
          text-align: center;
          padding:3px 9px;
          @include fz(12);
          color:#fff;
          background:$purple;
        }
      }

    }

    pre code{
      display: block;
      overflow-x: auto;
      padding: 30px 1em;
      @include fz(15);
      line-height: 1.6;
      color: #b9b5b8;
      background: #322931;
    }

    code{
      margin:0 3px;
      padding:0 3px;
      color:$purple;
      background:$lgray;
    }

    blockquote {
      padding: 2em;
      max-width: 100%;
      margin: 2em 0;
      color: $dgray;
      background: $lgray2;
      border-left: 2px solid $link-color;

      p {
        padding: 0;
        margin: 0;
        @include fz(12);
        font-style: italic;
        @include min-screen($bp_tb_v) {
        }
        @include min-screen($bp_base) {
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      a {
        display: inline;
        max-width: 100%;
        color: $link-color;

        &[target='_blank'] {
          &::after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 15px;
            height: 15px;
            margin-right: 3px;
            margin-left: 3px;
            background: inline('outlink.svg') no-repeat center center;
            background-size: contain;
          }
        }
      }

      img {
        min-width: 0;
        margin: 0 auto 1em;
      }

      cite {
        display: block;
        margin-top: 1em;
        @include fz(12);
        color: $black;
      }
    }
  }

  #ez-toc-container{
    padding:15px;
    border:3px solid $purple;
    border-radius: 6px;
    @include min-screen($bp_tb_v) {
      padding:30px;
    }

    ul{
      margin:0;
      line-height: 2.4;
    }

    li{
      line-height: 2.4;
    }

    .ez-toc-title-container{

    }

    .ez-toc-title{
      margin:0;
      @include fz(18);
      font-weight: 600;
      border-bottom:3px solid $purple;
      @include min-screen($bp_tb_v) {
        padding-bottom: 15px;
        @include fz(21);
      }
    }

    .ez-toc-list{
      padding-top: 9px;
      padding-bottom: 15px;
      line-height: 2.4;
      @include min-screen($bp_tb_v) {
        padding-top: 15px;
      }
    }

    .ez-toc-link{

    }

    .ez-toc-list-level-1,
    .ez-toc-list-level-2,
    .ez-toc-list-level-3,
    .ez-toc-list-level-4,
    .ez-toc-list-level-5,
    .ez-toc-list-level-6
    {
      padding-left: 1em;
    }

    .ez-toc-heading-level-2{
      list-style-type: disc;
      @include fz(15);
    }

    .ez-toc-heading-level-3{
      list-style-type: circle;
      @include fz(12);
    }

    .ez-toc-heading-level-4{
      list-style-type: square;
      @include fz(12);
    }

    .ez-toc-heading-level-5{
      list-style-type: square;
      @include fz(12);
    }

    .ez-toc-heading-level-6{
      list-style-type: square;
      @include fz(12);
    }


  }


  .wp-block-image{
    text-align: center;
    figure{
      a[target="_blank"]{
        &::after{
          content:none;
        }
      }
    }
    figcaption{
      margin-top: 9px;
      font-weight: 600;
      line-height: 1.6;
    }
  }

  hr{
    margin: 2em 0;
    border-top:1px solid $gray;
  }

  .gist{
    margin: 2em 0;
  }

  iframe{
    overflow: hidden;
    width: 100%;
  }

  @import '../../foundation/vendor/monokai';
}