.l-footer{
  padding:18px 18px 60px;
  @include min-screen($bp_tb_v) {
    padding:30px;
  }

  &__inner{
    @include min-screen($bp_tb_v) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__logo{
  }

  &__nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include min-screen($bp_tb_v) {
      flex-direction: row;
    }

    a{
      font-weight: 600;
      color:#000;

      + a{
        margin-top: 30px;
        @include min-screen($bp_tb_v) {
          margin-top: 0;
          margin-left:30px;
        }
      }

      &:hover{
        @include min-screen($bp_tb_v) {
          color:$purple;
        }
      }

      &[target="_blank"]{
        display: flex;
        align-items: center;

        &::after{
          content: "";
          display: block;
          width: 9px;
          height: 9px;
          margin-top: 2px;
          margin-left: 6px;
          background: url('~assets/svg/outlink.svg?inline') no-repeat center center;
          background-size: contain;
        }
      }
    }
  }

  &__copyright{
    margin-top: 60px;
    text-align: center;
    font-weight: 600;
    @include min-screen($bp_tb_v) {
      margin-top: 15px;
    }
  }
}